<% include ./partials/header %>
 
<div class="ui massive message" style ="width:90%">
     <div class="header" style ="font-family:Pacifico; color:#811D05;">
   Foodie Blog Posts
  </div>
  
                       
<p><span style ="font-size:1.2em;">   </span> Click "New Post" to add a post about your favorite dish!</p>
                    
                   
            
        </div>
       
  <div class="ui centered grid">

<% blogs.forEach(function(blog) { %>
   
        <div class="four wide column">
    <div class="ui raised segment">
        
        <h3 style ="color:white;text-align:center;background-color:Gainsboro;border-radius:35px;padding:3px">
         <%= blog.created.toDateString() %>  
        
    </h3> 
       <h1 style ="border-bottom:2px solid grey">   <span id ="title"><%= blog.title %>    </h1>
       <h2 style ="text-align:centered"> <%= blog.body %> </h2>
        
     <img src ='<%= blog.image %>' class ="ui centered circular medium image">  
    
    <h3> <%= blog.location %></h3>
    <p> <%= blog.desc.substring(0,100) %> ... </p>
     <a href ='/blogs/<%= blog._id %>' class ='ui tiny button'> Read More </a>
   
   
  </div>
   </div>
 
<% }) %> 
</div>
 
<% include ./partials/footer %> 